@font-face {
    font-family: custom;
    src: url(../type/MYCOOLFONT.otf);
  }

nav{
    position: fixed;
    top: 100px;
    right: 236px;
    z-index: 1000;
}

li{
    list-style-type: none;
    position: relative;
}

.nav{
    display: none;
    width: 136px;
}

.zInd1{
    position: relative;
}

.zInd2{
    position: absolute;
    z-index: 2;
    top: 50%;
}

h5{
    font-family: custom;
    font-size: 27px;
    color: #F7F7F7;
    width: 335px;
    text-align: center;
}


/* colors */
.light{
    background: #B9EAEE;
}
.mid{
    background: #00C2D1;
}
.dark{
    background: #0A1045;
}

/* backColors */

.grayBack{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #F7F7F7;
}
.blueBack{
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 15px;
    background: #B9EAEE;
    padding-bottom: 200px;
}
.blueBackwork{
    width: 100%;
    padding-top: 1px;
    padding-bottom: 50px;
    background: #B9EAEE;
    margin-bottom: 50px;
}

.whiteSpace{
    height: 50px;
}
.whiteSpaceExtra{
    height: 500px;
}


/* containers */

.bigCont{
    max-width: 987px;
    margin: auto;
    position: relative;
}

.smallCont{
    max-width: 666px;
    margin: auto;
    position: relative;
}

/* styling header */
header{
    height: 100vh;
    position: relative;
    z-index: 10;
}
main{
    position: relative;
    z-index: 0;
}
main.others{
    margin-top: calc(-80vh + 10vw);
}

#bighead.center{
    position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}
#logoontop{
    position: absolute;
    top: 5%;
    width: 50%;
    left: 25%;
    z-index: 50;
}

#hamb-button{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 25px;
    z-index: 99;
}

#curltopright{
    position: fixed;
    top: -15px;
    width: 200px;
    right: -20px;
    z-index: 99;
}

#head2{
    position: fixed;
    width: 100%;
}

#logohead{
    position: fixed;
    width:20%;
    margin: 3vw 40% 0 40%;
}
#bloblinksboven{
    position: absolute;
    top: -30px;
    width: 75px;
    left: 50px;
}

#pijllinksboven{
    position: absolute;
    top: -5px;
    width: 100px;
    left: 110px;
}
#blob2{
    position: absolute;
    width: 75px;
    right: 0px;
    margin-top: -100px;
}

/* styling sides */


#curl{
    translate: -50%;
    width: 150px;
    position: absolute;
}
#blob3{
    translate: -50%;
    padding-top: 
    70px;
    width: 150px;
    position: absolute;
}
#blobje{
    translate: -50%;
    padding-top: 
    150px;
    width: 150px;
    position: absolute;
}


/* content */
.cont{
    height: 2000px;
    /* background: green; */
    max-width: 1140px;
    margin: auto;
}


.arti div{
    width: 30%;
    height: 290px;
    float: left;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.arti div.blok{
    margin-left: 5%;
}
.arti div img{
    width: 500px;
    translate: -25%;
}
.arti div img.howitworks{
width: 264px;
    translate: 0;
}

.arti div img#misselijk{
    width: 300px;
    translate: 0 -40%;
}

div.title{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    padding-top: 9px;
}
.show2{
    display: block;
}
.show1{
    display: none;
}

#circlePot{
    position: absolute;
    left: 5%;
    width: 90%;
    top: -40px;
}
.reviews{
overflow: scroll;
}

.voordescroll{
    width: 2000px;
    padding-left:5%;
    padding-right: 5%;
}

.fourfifty{
    width: 450px;
    height: 450px;
    float: left;
    position: relative;
    margin-left: 70px;
}

.hundred{
    width: calc(100% - 59px);
}

.review{
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

}


.linkje{
color: #00C2D1;
text-decoration: underline;
}

#logoZuyd{
    max-width: 200px;
}


/* letters */
h1{
    font-family: custom;
    font-size: 190px;
    color: #0A1045;
text-align: center;
}
.middleCont h5{

    margin: -100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    font-weight: bold;
    color: #00C2D1;
    text-align: center;
    width: auto;
    margin-bottom: 50px;
}


p{

    font-family: 'Montserrat', sans-serif;
    color: #0A1045;
}

p.quote{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size: 30px;
    position: relative;
    z-index: -10;
}
p.intext{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    z-index: -10;
}
h2{
    border: none;
    text-decoration: none;
    font-family: custom;
    font-size: 50px;
    color: #0A1045;
    margin-bottom: 15px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

div a h2.center{
    text-decoration: none;
    border: none;
}

#special{
    margin-bottom: 30px;
}
h4{
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #0A1045;
    font-weight: bold;
}
.arti h3{
    font-family: custom;
    font-size: 27px;
    color: #F7F7F7;
    font-weight: 400;
}
.arti p{
    font-family: custom;
    font-size: 15px;
    color: #F7F7F7;
    margin-top: 5px;
}

button{border: none;
    margin: auto;
background: none;}
button a{
    text-decoration: none;
    border: none;
}

button p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #F7F7F7;
    margin-top: 40px;
}


.howitworks{
    width: 264px;
}

.more{
    max-width: 400px;
    margin: auto;
    height: 250px;
}

.bottom{
position: absolute;
left: 50%;
transform: translateX(-50%);
max-width: 100%;
top: 0;
}

.top{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    top: 50px;
}


.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.fifty{
    width: 50%;
}
.eighty{
    width: 80%;
    margin: 0 10%;
}
.leftFloat{
    float: left;
    position: relative;
}

.rightFloat{
    float: right;
}

.marginBot{
    margin-bottom: 100px;
}


/* footer */
footer{
    position: relative;
    z-index: 10;
    margin-top: -200px;
}
footer img.foot{
    position: absolute;
    height: 40vh;
    width: 100%;
    z-index: -1;
}
.footshit{
    color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
footer div{
    padding-top: 50px;
}


/* wij */
.middleCont{

    margin: auto;
        margin-top: 50px;
    max-width: 987px;
}
.middleCont img{
    margin: 15%;
    max-width: 70%;
}

h3.names{
    font-family: custom;
    font-size: 50px;
    color: #0A1045;
}
.middleCont p{
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #0A1045;
    line-height: 37px;
}
.rela{
    position: relative;
}
.onTopPic{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.leftecht{
    margin-bottom: 350px;
}
/* workshop */
h1.work{
    font-family: custom;
    font-size: 80px;
    color: #0A1045;
text-align: center;
margin-top: -100px;
margin-bottom: 55px;
}
.middleCont h5.work{

    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: #00C2D1;
    text-align: center;
    width: auto;
    margin-bottom: 50px;
}
.middleCont p.blauw{
    color: #00C2D1;
    font-weight: bold;
}
.middleCont p.noMarg{
    margin-bottom: 0;
}

.leftPad{
    padding-left: 20px;
}

.down{
    margin-top: 200px;
}
.maxWdown{
    max-width: 500px;
    margin: auto;
}

@media screen and (max-width: 1050px){
.bigCont{
    margin: 0 5% 0 5%;
}
.middleCont{
    margin: 50px 5% 0 5%;
}
}

@media screen and (max-width: 900px){

.arti div{
    width: auto;
    max-width: 297px;
    float: none;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}
.arti div.blok{
    margin: auto;
    margin-bottom: 50px;
}
.arti div img{
    width: 500px;
    translate: -25%;
    margin-bottom: 0;
}
.arti div img#misselijk{
    width: 300px;
    translate: 0 -40%;
    margin-bottom: 0;
}
div.title{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    padding-top: 9px;
    margin-bottom: 0;
}
}


@media screen and (max-width: 700px){
    .smallCont{
        margin: 0 10% 0 10%;
        
    }
    p.quote{
        margin-top: 200px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }
    button p{
        font-size: 16px;
        margin-top: 7vw;
    }
    .show2{
        display: none;
    }
    .show1{
        display: block;
    }
    .fifty{
        width: 100%;
    }
    .intext{
        text-align: center;

    }
    .leftPad{
        padding-left: 0;
        padding-top: 50px;
        text-align: center;
    }

    .hundred{
        width: 100%;
        margin-bottom: 20px;
    }
    footer img.foot{
        position: absolute;
        height: 50vh;
        width: 100%;
        z-index: -1;
    }

    h3.names{
        font-family: custom;
        font-size: 50px;
        color: #0A1045;
    }
    .middleCont p, .middleCont h3.names{
        text-align: center;
    }
    .middleCont p.leftecht{
        text-align: left;
    }
}



@media screen and (max-width: 900px){

    h1{
        font-family: custom;
        font-size: 80px;
        color: #0A1045;
    text-align: center;
    }
    .middleCont h5{
    
        margin: -40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 90px;
        font-weight: bold;
        color: #00C2D1;
        text-align: center;
        width: auto;
        margin-bottom: 50px;
    }
    }


.clear{
    clear: both;
}

