@font-face {
    font-family: custom;
    src: url(../type/MYCOOLFONT.otf);
  }

/* colors */
.light{
    background: #B9EAEE;
}
.mid{
    background: #00C2D1;
}
.dark{
    background: #0A1045;
}

/* backColors */

.grayBack{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #F7F7F7;
}


/* containers */

.bigCont{
    max-width: 987px;
    margin: auto;
    position: relative;
}

.smallCont{
    max-width: 666px;
    margin: auto;
    position: relative;
}

/* styling header */
header{
    height: 100vh;
    position: relative;
    z-index: 10;
}
main{
    position: relative;
    z-index: 0;
}

#bighead.center{
    position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}
#logoontop{
    position: absolute;
    top: 5%;
    width: 50%;
    left: 25%;
    z-index: 50;
}

#hamb-button{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 25px;
    z-index: 99;
}

#curltopright{
    position: fixed;
    top: -15px;
    width: 200px;
    right: -20px;
    z-index: 99;
}

#head2{
    position: fixed;
    width: 100%;
}

#logohead{
    position: fixed;
    width:20%;
    margin: 3vw 40% 0 40%;
}
#bloblinksboven{
    position: absolute;
    top: -30px;
    width: 75px;
    left: 50px;
}

#pijllinksboven{
    position: absolute;
    top: -5px;
    width: 100px;
    left: 110px;
}
#blob2{
    position: absolute;
    width: 75px;
    right: 0px;
    margin-top: -100px;
}

/* styling sides */


#curl{
    translate: -50%;
    width: 150px;
    position: absolute;
}
#blob3{
    translate: -50%;
    padding-top: 
    70px;
    width: 150px;
    position: absolute;
}
#blobje{
    translate: -50%;
    padding-top: 
    150px;
    width: 150px;
    position: absolute;
}


/* content */
.cont{
    height: 2000px;
    /* background: green; */
    max-width: 1140px;
    margin: auto;
}


.arti div{
    width: 30%;
    height: 290px;
    float: left;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.arti div.blok{
    margin-left: 5%;
}
.arti div img{
    width: 500px;
    translate: -25%;
}
.arti div img#misselijk{
    width: 300px;
    translate: 0 -40%;
}

div.title{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    padding-top: 9px;
}
.show2{
    display: none;
}
/* letters */
p{
        margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #0A1045;
}

p.quote{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    z-index: -10;
}
h2{
    font-family: custom;
    font-size: 50px;
    color: #0A1045;
}
.arti h2{
    margin-bottom: 15px;
}

.arti h3{
    font-family: custom;
    font-size: 27px;
    color: #F7F7F7;
}
.arti p{
    font-family: custom;
    font-size: 15px;
    color: #F7F7F7;
    margin-top: 5px;
}

button{border: none;
    margin: auto;
background: none;}
button a{
    text-decoration: none;
    border: none;
}

button p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #F7F7F7;
    margin-top: 40px;
}


.more{
    max-width: 400px;
    margin: auto;
}

.bottom{
position: absolute;
left: 50%;
transform: translateX(-50%);
max-width: 100%;
}

.top{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    top: 50px;
}


.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

@media screen and (max-width: 1050px){
.bigCont{
    margin: 0 5% 0 5%;
}
}

@media screen and (max-width: 900px){

.arti div{
    width: auto;
    max-width: 297px;
    float: none;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
}
.arti div.blok{
    margin: auto;
    margin-bottom: 50px;
}
.arti div img{
    width: 500px;
    translate: -25%;
    margin-bottom: 0;
}
.arti div img#misselijk{
    width: 300px;
    translate: 0 -40%;
    margin-bottom: 0;
}
div.title{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    padding-top: 9px;
    margin-bottom: 0;
}
}

@media screen and (max-width: 700px){
    .smallCont{
        margin: 0 10% 0 10%;
        
    }
    p.quote{
        margin-top: 200px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }
    button p{
        font-size: 20px;
    }
}

.clear{
    clear: both;
}

